.home{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.todolist-section{
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}

.input-field{
    display: block;
    font-size: 18px;
    border-radius: 6px;
    border-color: transparent;
    width: 800px;
    margin-bottom: 10px;
}

.submit-button{
    padding: 10px 15px;
    cursor: pointer;
    background-color: black;
}

.todo-content{
    display: grid;
}

.todo-item{
    display: block;
    gap: 10px;
}


.delete-button{
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.todo-entries {
    margin-top: 20px;
  }